/* StoPlay CSS */
.logo {

}
.logo .help {
	float: right;
	padding: 4px;

	background: #18D0EF;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.logo .help a {
	text-decoration: none;
}



.controls {
	margin: 20px 0;
}
.controls .form-group {
	margin-bottom: 15px;
}
.controls .e_select {
}
.controls .e_select_toggle_all {
	float: right;
	font-size: 12px;

	color: #31708F;
	border-bottom: 1px dotted currentColor;

}
.controls .e_select .btn {

}

#status {
	display: none;
	padding: 10px 20px;

	float: right;
	background: #D9EDF7;
	color: #31708F;
	-webkit-border-radius: 10px;
	        border-radius: 10px;
}

.list-group {
	border: 1px solid #ccc;
	border-top-width: 0;
	border-radius: 10px;
}
.list-group-item {
	position: relative;
	border-top: 1px solid #ccc;

	padding: 10px 32px;
}
.list-group-item.hidden {
	display: none;
}
.list-group-item .check {
	position: absolute;
    left: 14px;
}
.list-group-item .check span {
	display: none;
}

.list-group-item:first-child {
	border-radius: 10px 10px 0 0;
}
.list-group-item:last-child {
	border-radius: 0 0 10px 10px;
}


.list-group-item.active {
	color: #FFF;
	background-color: #3E9BCA;

}

.list-group-item.active:before {
	content: "+";
	position: absolute;
	left: 10px;

	display: block;
}

.e_filter_options {
	position: relative;
}
.e_filter_options input {
	display: block;
	width: 100%;
	background: #FFF;
	border: 1px solid #e4e4e4;
	border-radius: 10px;
	padding: 8px;
	margin: 0 0 10px 0;
}

.e_filter_options_clear {
	display: none;
	position: absolute;
	top: 10px;
	right: 10px;
    width: 14px;
    height: 14px;
	cursor: pointer;
}
.e_filter_options.filter_active .e_filter_options_clear {
	display: block;
}
.e_filter_options_clear::before,
.e_filter_options_clear::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 2px;

	
	border: 1px solid #666;
	width: 14px;
	
	transform: rotate(45deg);
}
.e_filter_options_clear::after {
	transform: rotate(-45deg);
}
